<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Dashboard Supervisor - UpDesk</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
</head>

<body>
  <div class="w-full h-full blur-sm"></div>
  {% include 'navbar.html' %}

  <div class="dashboard">
    <h2>Olá, Bem-vindo, {{ nome_usuario }}!</h2>

    <div class="cards">
      <div class="card">
        <h4>Chamados Abertos</h4>
        <span>{{ chamados_abertos }}</span>
      </div>
      <div class="card">
        <h4>Chamados em Triagem</h4>
        <span>{{ chamados_em_triagem }}</span>
      </div>
      <div class="card">
        <h4>Chamados com Solução IA</h4>
        <span>{{ chamados_solucao_ia }}</span>
      </div>
      <div class="card">
        <h4>Chamados Finalizados</h4>
        <span>{{ chamados_finalizados }}</span>
      </div>
    </div>

    <div class="actions">
      <button class="action-btn" onclick="location.href='/chamado'">Abrir Chamado</button>
      <button class="action-btn" onclick="location.href='/ver-chamado'">Monitoramento de Chamados</button>
      <button class="action-btn" onclick="location.href='/ger_usuarios'">Gerenciar Usuário</button>
      <button class="action-btn" onclick="location.href='/triagem'">Painel da Triagem</button>
    </div>

    <footer>
      UpDesk - Sistema de Gerenciamento de Chamados com IA
    </footer>
  </div>

  <script src="{{ url_for('static', filename='js/home.js') }}"></script>

</body>

</html>