<nav class="navbar">
    <div class="logo">UpDesk</div>
    <button class="hamburger" id="hamburger">&#9776;</button>
    <div class="nav-menu" id="nav-menu">
        <div class="nav-links">
          <a href="/">Home</a>
          <a href="/chamado">Chamados</a>
          <a href="/ger-usuarios">Usuários</a>
          <a href="/triagem">Triagem</a>
        </div>
    </div>

    <div class="user-menu">
      <button class="user-btn" id="userBtn" aria-haspopup="true" aria-expanded="false">{{ nome_usuario }}</button>
      <div class="dropdown" id="userDropdown">
        <a href="/perfil">Meu Perfil</a>
        <a href="/meus-chamados">Meus Chamados</a>
        <a href="/logout">Sair</a>
      </div>
    </div>
  </nav>