<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Ver Chamados - UpDesk</title>

      <link rel="stylesheet" href="{{ url_for('static', filename='css/verChamado.css') }}">
  </head>

<body>
    {% include 'navbar.html' %}

    <div class="container">
        <div class="header">
            <h2>Monitoramento de Chamados</h2>
            <div>Usuário: {{ nome_usuario }}</div>
        </div>

        <div class="filtros">
            <select>
                <option>Todos</option>
                <option>Pendente</option>
                <option>Em atendimento</option>
                <option>Resolvido</option>
            </select>
            <input type="text" placeholder="Buscar chamado...">
        </div>

        <div class="container mt-4">
            <h2>Lista de Chamados</h2>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Prioridade</th>
                        <th>Status</th>
                        <th>Data </th>
                        <th>Ações</th>

                    </tr>
                </thead>
                <tbody>
                    {% for chamado in chamados %}
                    <tr>
                        <td>{{ chamado.titulo_Chamado }}</td>
                        <td>{{ chamado.prioridade_Chamado }}</td>
                        <td>{{ chamado.status_Chamado }}</td>
                        <td>{{ chamado.dataAbertura.strftime("%d/%m/%Y %H:%M") }}</td>
                        <td>
                            <button class="btn btn-secondary btn-sm">Ver detalhes</button>
                            <button class="btn btn-secondary btn-sm">Atender</button>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="7" class="text-center">Nenhum chamado encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="bottom-bar">
            <button class="btn" onclick="window.location.href='/home'">Página inicial</button>
            <button class="btn btn-gestao">Relatório Gestão </button>
        </div>
    </div>

</body>

</html>