/* static/css/components/_ger-usuarios-page.css */

.user-page__container {
  width: 90%;
  max-width: 1400px;
  margin: var(--espaco-l) auto;
}

.user-page__title {
  text-align: center;
  margin-bottom: var(--espaco-l);
  color: var(--cor-primaria);
  margin-top: var(--espaco-m);
}

.user-page__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--espaco-s);
  flex-wrap: wrap;
  gap: var(--espaco-s);
}

.user-page__search-form {
  display: flex;
  gap: var(--espaco-s);
}

.user-page__search-input {
    background-color: var(--cor-fundo-principal);
    width: 320px;
}

/* Responsividade para ocultar colunas em telas menores que 992px */
@media (max-width: 992px) {
    th.col-id,
    td.col-id,
    th.col-cargo,
    td.col-cargo,
    th.col-status,
    td.col-status {
        display: none !important;
    }
}
@media (max-width: 600px) {
    th.col-email,
    td.col-email {
        display: none !important;
    }
}

@media (max-width: 450px) {
    .user-page__tools { /* Changed from .tools */
        flex-direction: column;
    }
}

.main-panel {
    background-color: var(--cor-fundo-claro); /* Fundo branco */
    padding: var(--espaco-l); /* Espaçamento interno generoso */
    border-radius: var(--raio-borda-l); /* Bordas arredondadas */
    box-shadow: var(--sombra-discreta); /* Sombra suave para dar profundidade */
    width: 100%;
    max-width: 1200px; /* Largura máxima para telas grandes */
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: var(--fonte-peso-semi-bold);
}

.edit-user-btn {
    background-color: var(--cor-primaria);
    color: #fff;  
    border-radius: var(--raio-borda-pílula) !important;
    cursor: pointer;
    transition: background-color 0.4s ease;
    box-shadow: var(--sombra-intensa);
}

.edit-user-btn:hover {
    background-color: var(--cor-primaria-escura);
    color: #FFFFFF;
}

.btn-danger {
    background-color: var(--cor-perigo);
    color: #fff;  
    border-radius: var(--raio-borda-pílula) !important;
    cursor: pointer;
    transition: background-color 0.4s ease;
    box-shadow: var(--sombra-intensa);
}

.btn-danger:hover {
    background-color: var(--cor-perigo-escura);
    color: #FFFFFF;
}

.btn-criar-user {
    background-color: var(--cor-primaria); 
    border-radius: var(--raio-borda-pílula);
    color: #FFFFFF;  
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.btn-criar-user:hover {
    background-color: var(--cor-primaria-escura);
    color: #FFFFFF;
}

.btn-salvar {
    background-color: var(--cor-primaria); 
    border-radius: var(--raio-borda-pílula);
    color: #FFFFFF;  
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.btn-salvar:hover {
    background-color: var(--cor-primaria-escura);
    color: #FFFFFF;
}

