/* /static/css/components/_atender-chamado-page.css */
.atendimento-page {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--cor-fundo-principal);
  min-height: calc(100vh - 56px); /* Altura da viewport menos a navbar */
}

/* Container principal que agrupa os detalhes e o chat */
.atendimento-page__container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: var(--sombra-intensa);
}

/* Título da página */
.atendimento-page__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-primaria);
    padding: auto;
    margin-bottom: 1rem;

}


.atendimento-page .container-fluid {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 80px; /* Espaço para o rodapé fixo */
}

/* botoes de ação */
.container-fluid{
    margin-bottom: 1rem;
}

/* Detalhes do chamado */
.atendimento-page__details-content {
  overflow-y: auto;
  padding-right: 10px; /* Para a barra de rolagem não colar no texto */
  padding-bottom: 10px;

}

/* Chat */
.atendimento-page__chat .chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 10px;
}

.atendimento-page__chat .chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  background-color: #fff;
}

.atendimento-page__chat .chat-input {
  margin-top: 1rem;
}
