/* /static/css/components/_home-page.css */

.container.main-content-container {
  max-width: 100%;
  margin: 50px;
  padding: var(--espaco-m) 0;
  background: none;
  border-radius: 0;
  box-shadow: var(--sombra-intensa);
}

.action-section {
  margin-top: var(--espaco-xl);
}

.content-wrapper {
  padding-top: 80px; /* Espaçamento para compensar o navbar fixo */
}

.row {
  margin-top: 10em;
}

.card-title {
  padding: var(--espaco-m);

}

.card-body {
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.15);
  border-radius: var(--raio-borda-m);
}

.dashboard-section {
  display: flex;
  justify-content: center;
  align-items: center;

}
