/* /static/css/components/_home-page.css */

.container.main-content-container {
  max-width: 100%;
  margin: 30px;
  padding: var(--espaco-m) 0;
  background: none;
  border-radius: 0;
  box-shadow: none;
}

.action-section {
  margin-top: var(--espaco-xl);
}

.content-wrapper {
  padding-top: 80px; /* Espaçamento para compensar o navbar fixo */
}

.row {
  margin-top: 10em;
}
