<!-- /templates/navbar.html -->
<nav class="navbar navbar-expand-lg border-bottom">
  <div class="container-fluid">
    <div class="navbar-nav me-auto">
      <a class="nav-link" href="/templates/home.html" data-page="home">Home</a>
      <a class="nav-link" href="/templates/verChamado.html" data-page="monitoramento">Monitoramento de Chamados</a>
      <a class="nav-link" href="/templates/triagem.html" data-page="triagem">Triagem</a>
    </div>
    <a class="navbar-brand " href="/templates/home.html" data-page="home">UpDesk</a>
    <div class="dropdown ms-auto">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="userDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
        <span id="navbar-username">Usuário</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdownButton">
        <li><a class="dropdown-item" href="/templates/perfil.html">Meu Perfil</a></li>
        <li><a class="dropdown-item" href="#">Meus Chamados</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" id="logout-button" href="#">Sair</a></li>
      </ul>
    </div>
  </div>
</nav>
 