<!-- /templates/navbar.html -->
<nav class="navbar navbar-expand-lg border-bottom">
  <div class="container-fluid">
    <div class="navbar-nav me-auto">
      <a class="nav-link" id="nav-home" href="/templates/home.html" data-page="home">Home</a>
      <a class="nav-link" id="nav-monitoramento" href="/templates/verChamado.html" data-page="monitoramento">Monitoramento de Chamados</a>
      <a class="nav-link" id="nav-triagem" href="/templates/triagem.html" data-page="triagem">Triagem</a>
      <a class="nav-link" id="nav-gerenciamento" href="/templates/ger_usuarios.html" data-page="gerenciamento">Gerenciar usuario</a>
      <a class="nav-link" id="nav-chamado" href="/templates/chamado.html" data-page="chamado">Abrir Chamado</a>
    </div>

    <a class="navbar-brand" href="/templates/home.html" data-page="home">UpDesk</a>

    <div class="dropdown ms-auto">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="userDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
        <span id="navbar-username">Usuário</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdownButton">
        <li><a class="dropdown-item" id="nav-perfil" href="/templates/perfil.html">Meu Perfil</a></li>
        <li><a class="dropdown-item" id="nav-meuschamados" href="/templates/meus_chamados.html">Meus Chamados</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" id="logout-button" href="index.html">Sair</a></li>
      </ul>
    </div>
  </div>
</nav>
