/* /static/css/components/_atender-chamado-page.css */

.atendimento-page {
  padding-bottom: 2rem; /* Mantém o espaçamento inferior */
  background-color: var(--cor-fundo-principal);
  min-height: calc(100vh - 56px); /* Altura da viewport menos a navbar */
}



/* Container principal que agrupa os detalhes e o chat */
.atendimento-page__container {
  max-width: 1200px;
  margin: 2rem auto; /* Centraliza e adiciona margem em cima/baixo */
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--sombra-intensa);
}

/* Título da página */
.atendimento-page__title {
    font-weight: var(--fonte-peso-semi-bold);
    color: var(--cor-primaria);
    padding: 10px; /* Remove padding extra */
    margin-bottom: 10px; /* Reduz o espaçamento abaixo do título */
}


.atendimento-page .container-fluid {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 80px; /* Espaço para o rodapé fixo */
}

/* botoes de ação */
.container-fluid{
    margin-bottom: 1rem;
}

/* Detalhes do chamado */
.atendimento-page__details-content {
  overflow-y: auto;
  padding-right: 10px; /* Para a barra de rolagem não colar no texto */
  padding-bottom: 10px;
}

/* Chat */
.atendimento-page__chat .chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 10px;
  border-radius: var(--raio-borda-xl);

}

.atendimento-page__chat .chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  background-color: #fff;
}

.atendimento-page__chat .chat-input {
  margin-top: 1rem;
  border-radius: var(--raio-borda-xl);

}

.form-control{
  background-color: #ffffff;
}

.atendimento-page__content {
    margin-top: 0;
}

.btn-success {
  background-color: var(--cor-primaria);
  color: #ffffff;
  border: none;
}

.btn-success:hover {
  background-color: var(--cor-primaria-escura);
}