body {
    font-family: "Inter", sans-serif;
    background-color: #DFE2E8 !important;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px #ccc;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-weight: 600;
}

.filtros {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

select,
input[type="text"] {
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #aaa;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    vertical-align: middle;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.status {
    font-weight: 600;
}

.verde {
    color: green;
}

.azul {
    color: blue;
}

.vermelho {
    color: red;
}

.btn {
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    background: #ccc;
    cursor: pointer;
}

.btn-detalhes:hover {
    background: #bbb;
}

.bottom-bar {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.btn-gestao {
    background-color: #2B4C7E;
    color: white;
    border: none;
}
